/* --- RESET --- */

html, body, header, nav, h1, h2, h3, a, ul, li,
strong, main, section, img, div, p,
form, fieldset, label, select, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  box-sizing: content-box;
  font-family: 'overlock', sans-serif;
}

ul {
  list-style: none;
}

a:hover {
  color: #CA5D60;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

button {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
  background-color: #2DBE60;
  border-radius: 5px;
}

button:hover {
  color: #FFFFFF;
  background-color: #0F7C33;
}

h3 {
  font-size: 18px;
}
/* --- LOGIN PAGE --- */
.login-page {
  background-color: #E0FBFC;
  height: 100vh;
}

.login-header {
  background-color: #CA5D60;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #FFFFFF;
  font-size: 24px;
  border-bottom: 1px solid #DADADA;
}

.login-page p {
  text-align: center;
  padding: 20px;
}

.login-box {
  margin: auto;
  width: 500px;
  margin-top: 100px;
  padding: 0px 20px;
  background-color: #FFFFFF;
  border: 2px solid #DADADA;
}

#logo {
  font-size: 200px;
  color: #CA5D60;
  float: left;
}

.login {
  float: left;
  margin-top: 55px;
  height: 200px;
  width: 250px;
}

.login input {
  color: #CA5D60;
  background-color: transparent;
  text-align: center;
  font-size: 24px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-bottom: 1px dashed #CA5D60;
}

#submit {
  cursor: pointer;
  text-align: center;
  color: #FFFFFF;
  background-color: #CA5D60;
  border-radius: 5px;
}

#submit:hover {
  color: #CA5D60;
  background-color: #FFFFFF;
  border: 1px solid #DADADA;
}

/* --- HEADER --- */
.header {
  padding: 10px;
  width: 100%;
  background-color: #3B6796;
  border-bottom: 2px solid #DADADA;
  color: #FFFFFF;
}

.header button {
  float: right;
  margin-right: 20px;
}

.header h3 p {
  float: right;
}

/* --- CHAT --- */
.chatbox {
  float: left;
  width: 45%;
  height: 100%;
  padding: 10px;
}

.users-title {
  width: 30%;
  float: left;
  padding: 5px;
  font-family: 'Ubuntu Condensed';
  text-align: center;
  border-right: 1px solid #DADADA;
}

.messages-title {
  float: left;
  width: 60%;
  padding: 5px;
  font-family: 'Ubuntu Condensed';
  text-align: center;
  border-right: 1px solid #DADADA;
}

.users {
  width: 30%;
  height: 100%;
  float: left;
  padding: 5px;
  border-right: 1px solid #DADADA;
}

.users li {
  border-left: 5px solid #2DBE60;
  margin-bottom: 5px;
  padding: 5px;
}

.chatbox form {
  width: 60%;
  float: left;
  padding: 5px;
  border-right: 1px solid #DADADA;
}

.chat-message {
  width: 90%;
  border-bottom: 1px solid #2DBE60;
}

.chat-submit {
  width: 10%;
  float: right;
  cursor: pointer;
  text-align: center;
  color: #FFFFFF;
  background-color: #2DBE60;
  border-bottom: 1px solid #2DBE60;
}
.messages {
  width: 60%;
  height: 80%;
  float: left;
  padding: 5px;
  border-right: 1px solid #DADADA;
}

.messages li {
  padding: 5px;
  border-bottom: 1px dashed #DADADA;
}

#board {
  float: right;
  width: 50%;
  border: 2px solid #DADADA;
}
